rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /file/{fileName} {
      allow read: if request.auth!=null;
      // 30mb以内かつメタデータが存在する。
      allow create: if request.auth!=null
        && request.resource.size < 30 * 1024 * 1024
        && request.resource.customMetadata !=null
        && request.resource.customMetadata.uid != null
        && request.resource.customMetadata.parentPath != null;
    }
    match /thumb/{thumbName} {
      // 原則読み込みのみ
      allow read: if request.auth!=null;
    }
  }
}
