rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /file/{fileName} {
      allow read: if request.auth.uid!=null;
      // 50mb以内かつメタデータが存在する。
      allow create: if request.auth.uid!=null
        && request.resource.size < 50 * 1024 * 1024
        && request.resource.metadata !=null
        && request.resource.metadata.uid != null
        && request.resource.metadata.parentPath != null;
    }
    match /thumb/{thumbName} {
      // 原則読み込みのみ
      allow read: if request.auth.uid!=null;
    }
  }
}
